<a href="https://colab.research.google.com/github/mrArpanM/learn-python/blob/main/04_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Operations in Python.

⚒ Complete the exercises before going to next section.

## **Arithmatic Operators**

⚒ Play with numbers by changing numbers and running the cell.

In [5]:
# Addition
eight = 3+5 # 3+5 = 8

print(eight)

8

In [3]:
# Subtraction

two = 5-3 # 5-3 = 2

print(two)

2

In [4]:
# Multiplication

ten = 5*2 # 5×2=10

print(ten)

10

In [6]:
# Division (Quotient)

four = 12/3 # 12÷3=4

print(four)

4.0

In [7]:
# Remainder in Division

five = 17%6 # 17÷6= (12+5)÷6 =  2/5 [quotient/remainder]

print(five)

5

In [8]:
# Exponents

nine = 3**2 # 3^2 = 3×3=9
print(nine)

9

### Exercise 01: Create an calculator which will take a number as input and returns it's square as output.

In [ ]:
# Start Coding here...

### Exercise 02: Create an calculator which will take two numbers(one value and one rate) as input and returns the calculated percentage value as output.

For example if two numbers 1000 & 20 are given as input, it'll return 200 as output, because 20% of 1000 is 200.

In [ ]:
# Start Coding here...



---

## Using Operators with Strings

In [9]:
#Concatenation (adding up)

helloworld = "hello" + " " + "world" # "hello world"

print(helloworld)

hello world

In [11]:
# Repeatation

lotsofhellos = "hello\n" * 10 # \n equates to new line.

print(lotsofhellos)

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello



---

## Using Operators with Lists

In [12]:
# Joining list items together.

even_numbers = [2,4,6,8]
odd_numbers = [1,3,5,7]
all_numbers = odd_numbers + even_numbers

print(all_numbers)

[1, 3, 5, 7, 2, 4, 6, 8]

In [13]:
# Repeatation

print([1,2,3] * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### Exercise 03: Create a todo app that'll take a task as input and print all the task that were added before.

Hint:
* Create a list with few tasks.
* Ask for new tasks using **input** function.
* Use **append** function to add new task to the list of todo. (In case you're unaware what append function is "Just Google it!")

In [ ]:
# Start Coding here...

---
## Boolean operators

In [ ]:
# Boolean Conditionals

x = 2
if x == 2:
    print("x equals two!")
else:
    print("x does not equal to two.")

### Exercise 04: Create an calculator which will take two numbers and one operations such as plus(+), minus (-), into(×), by(÷), remainder(/*), power(^), percentage (%) as input and returns the calculated value as output.

Hint: Use **elif** conditionals where more than two case is required.

In [ ]:
## Code goes here...

## Loop Operators

### **For Loop**

In [ ]:
## Print all the prime numbers upto 10 hardcoded.

primes = [2, 3, 5, 7]
for prime in primes:
    print(prime)

In [ ]:
## Using range functions in a for loop

for x in range(3, 6):
    print(x) # Prints out 3,4,5

### **While Loop**

In [2]:
count=0
while(count<5):
    print(f"Count value is {count}")
    count +=1
else:
    print(f"Count value reached {count}")

Count value is 0
Count value is 1
Count value is 2
Count value is 3
Count value is 4
Count value reached 5

### Exercise 05: Print all the numbers from 0 to 100 which are divisible by 3 by using any loop operator.

In [ ]:
## Start coding...